<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.cucucook.mapper.MypageMapper">
  <resultMap id="memberRecipeResultMap" type="MemberRecipe">
    <result property="recipeId" column="recipe_id"/>
    <result property="memberId" column="member_id"/>
    <result property="recipeCategoryId" column="recipe_category_id"/>
    <result property="title" column="title"/>
    <result property="recipeMethodId" column="recipe_method_id"/>
    <result property="method" column="method"/>
    <result property="methodEn" column="method_en"/>
    <result property="imgId" column="img_id"/>
    <result property="serving" column="serving"/>
    <result property="recipeLevelId" column="recipe_level_id"/>
    <result property="level" column="level"/>
    <result property="levelEn" column="level_en"/>
    <result property="time" column="time"/>
    <result property="calory" column="calory"/>
    <result property="tip" column="tip"/>
    <result property="regDt" column="reg_dt"/>
    <result property="uptDt" column="upt_dt"/>
    <result property="viewCount" column="view_count"/>
    <result property="recipeCategoryName" column="recipe_category_name"/>
    <result property="recipeCategoryNameEn" column="recipe_category_name_en"/>
    <result property="commentCount" column="comment_count"/>
    <result property="commentRate" column="comment_rate"/>
    <result property="likeCount" column="like_count"/>

    <association property="member" javaType="Member">
      <result property="userId" column="user_id"/>
      <result property="name" column="name"/>
      <result property="phone" column="phone"/>
      <result property="role" column="role"/>
      <result property="email" column="email"/>
    </association>

    <association property="memberRecipeImages" javaType="MemberRecipeImages">
      <result property="imgId" column="img_id"/>
      <result property="orgImgName" column="org_img_name"/>
      <result property="serverImgName" column="server_img_name"/>
      <result property="extension" column="extension"/>
      <result property="imgFileSize" column="img_file_size"/>
      <result property="serverImgPath" column="server_img_path"/>
      <result property="webImgPath" column="web_img_path"/>
    </association>
</resultMap>
    <!-- 회원이 찜한 레시피 갯수 -->
    <select id="getLikeCount" resultType="int">
        SELECT COUNT(*)
        FROM recipe_like
        WHERE member_id = #{memberId}
    </select>

    <!-- 회원이 쓴 댓글 갯수 -->
    <select id="getReplyCount" resultType="int">
        SELECT COUNT(*)
        FROM recipe_comment
        WHERE member_id = #{memberId}
        AND del_yn = 'N'
    </select>

    <!-- 회원이 쓴 글 갯수 -->
    <select id="getWriteCount" resultType="int">
        SELECT COUNT(*)
        FROM board
        WHERE member_id = #{memberId}
    </select>

    <!-- 회원이 쓴 레시피 갯수 -->
    <select id="getRecipeCount" resultType="int">
        SELECT COUNT(*)
        FROM member_recipe
        WHERE member_id = #{memberId}
    </select>

    <!-- 회원이 쓴 글 목록 -->
    <select id="getMemberBoardList" resultType="com.example.cucucook.domain.Board">
        SELECT *
        FROM board
        WHERE member_id = #{memberId}
        ORDER BY reg_dt DESC
        LIMIT #{display}
        OFFSET #{start}
    </select>

    <!-- 회원이 쓴 댓글 목록 -->
    <select id="getRecipeCommentList" resultType="com.example.cucucook.domain.RecipeComment">
        SELECT *
        FROM recipe_comment
        WHERE member_id = #{memberId}
        ORDER BY reg_dt DESC
        LIMIT #{display}
        OFFSET #{start}
    </select>

    <!-- 회원 레시피 찜 목록 -->
    <select id="getRecipeLikeList" resultType="com.example.cucucook.domain.RecipeLike">
        SELECT rl.member_id, rl.recipe_id, rl.reg_dt, mr.title
        FROM recipe_like rl
        JOIN member_recipe mr ON rl.recipe_id = mr.recipe_id
        WHERE rl.member_id = #{memberId}
        ORDER BY rl.reg_dt DESC
        LIMIT #{display}
        OFFSET #{start}
    </select>

    <!-- 회원 레시피 찜 목록 (상세 정보 포함) -->
    <select id="getRecipeLikeListOtherInfo" resultMap="memberRecipeResultMap">
        SELECT a.recipe_id, a.member_id, a.title, a.view_count, a.reg_dt, a.upt_dt,
        (SELECT COUNT(*) FROM recipe_comment x WHERE x.recipe_id = a.recipe_id AND x.del_yn = 'N') as comment_count,
        a.comment_rate, (SELECT COUNT(*) FROM recipe_like x WHERE x.recipe_id = a.recipe_id) as like_count,
        d.server_img_name, d.extension, d.web_img_path, c.user_id, c.name, c.phone, c.role, c.email
        FROM recipe_like b
        JOIN member_recipe a ON b.recipe_id = a.recipe_id
        JOIN member c ON a.member_id = c.member_id
        LEFT JOIN member_recipe_images d ON a.img_id = d.img_id
        WHERE b.member_id = #{memberId}
        <if test="keyword != null and keyword != ''">
            AND a.title LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY ${orderby}
        LIMIT #{display} OFFSET #{start}
    </select>

    <!-- 내가 쓴 댓글 조회 -->
    <select id="getMyComments" resultType="com.example.cucucook.domain.RecipeComment">
        SELECT  rc.recipe_id,
                rc.comment_id,
                rc.member_id,
                rc.comment,
                rc.rate,
                rc.reg_dt,
                rc.upt_dt,
                rc.status,
                rc.p_comment_id,
                rc.del_yn,
                mr.title
        FROM recipe_comment rc
        LEFT JOIN member_recipe mr ON rc.recipe_id = mr.recipe_id
        WHERE rc.member_id = #{memberId} AND rc.del_yn = 'N'
        <if test="search != '' and search != null">
            <choose>
                <when test="searchType == 'title'">
                    AND mr.title LIKE CONCAT('%', #{search}, '%')
                </when>
                <when test="searchType == 'comment'">
                    AND rc.comment LIKE CONCAT('%', #{search}, '%')
                </when>
                <when test="searchType == 'all'">
                    AND (mr.title LIKE CONCAT('%', #{search}, '%') OR rc.comment LIKE CONCAT('%', #{search}, '%'))
                </when>
            </choose>
        </if>
        ORDER BY rc.reg_dt DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>


    <!-- 내가 쓴 게시글 조회 -->
    <select id="getMyBoards" resultType="com.example.cucucook.domain.Board">
        SELECT
            board_id,
            board_division,
            member_id,
            title,
            contents,
            board_category_id,
            reg_dt,
            udt_dt,
            status,
            view_count,
            p_board_id,
            user_name
        FROM BOARD
        WHERE member_id = #{memberId}
        <!-- AND board_division = #{boardDivision} -->
        <if test="search != '' and search != null">
            <choose>
                <when test="searchType == 'title'">
                    AND title LIKE CONCAT('%', #{search}, '%')
                </when>
                <when test="searchType == 'contents'">
                    AND contents LIKE CONCAT('%', #{search}, '%')
                </when>
                <when test="searchType == 'all'">
                    AND (title LIKE CONCAT('%', #{search}, '%') OR contents LIKE CONCAT('%', #{search}, '%'))
                </when>
            </choose>
        </if>
        <if test="boardDivision != '' and boardDivision != null and boardDivision != 'all'">
            AND board_division = #{boardDivision}
        </if>
        ORDER BY reg_dt DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <!-- 나의 DIY 레시피 조회 -->
    <select id="getMemberRecipeList" resultMap="memberRecipeResultMap">
      SELECT a.recipe_id
            ,a.member_id
            ,a.recipe_category_id
            ,a.title
            ,(SELECT x.name
                FROM recipe_category x
              WHERE x.recipe_category_id = a.method) as method
            ,(SELECT x.name_en
                FROM recipe_category x
              WHERE x.recipe_category_id = a.method) as method_en
            ,a.img_id
            ,a.serving
            ,(SELECT x.name
                FROM recipe_category x
              WHERE x.recipe_category_id = a.level) as level
            ,(SELECT x.name_en
                FROM recipe_category x
              WHERE x.recipe_category_id = a.level) as level_en
            ,a.time
            ,a.calory
            ,a.tip
            ,a.reg_dt
            ,a.upt_dt
            ,a.view_count
            ,b.name AS recipe_category_name
            ,b.name_en AS recipe_category_name_en
            ,c.user_id
            ,c.name
            ,c.phone
            ,c.role
            ,c.email
            ,(SELECT COUNT(*) FROM recipe_comment x WHERE x.recipe_id = a.recipe_id and x.del_yn = 'N') as comment_count
            ,a.comment_rate
            ,(SELECT COUNT(*) FROM recipe_like x WHERE x.recipe_id = a.recipe_id) as like_count
            ,d.org_img_name
            ,d.server_img_name
            ,d.extension
            ,d.img_file_size
            ,d.server_img_path
            ,d.web_img_path
            ,d.reg_dt as img_reg_dt
        FROM member_recipe a
        JOIN recipe_category b ON a.recipe_category_id = b.recipe_category_id
        JOIN member c ON a.member_id = c.member_id
        LEFT JOIN member_recipe_images d on a.img_id = d.img_id
        WHERE a.member_id = #{memberId}
        <if test="search != '' and search != null">
            <choose>
                <when test="searchType == 'title'">
                    AND a.title LIKE CONCAT('%', #{search}, '%')
                </when>
            </choose>
        </if>
        ORDER BY a.reg_dt DESC
        LIMIT #{limit} OFFSET #{start}
    </select>

</mapper>